

---
***Task 01***

In [1]:
import numpy as np

arr = np.arange(1, 16)
split_arrays = np.array_split(arr, 3)
print("Original Array:", arr)
print("Split Arrays:", split_arrays)

total_sum = sum(a.sum() for a in split_arrays)
print("Sum of all elements:", total_sum)

Original Array: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
Split Arrays: [array([1, 2, 3, 4, 5]), array([ 6,  7,  8,  9, 10]), array([11, 12, 13, 14, 15])]
Sum of all elements: 120



---
***Task 02***

In [3]:
filtered = arr[(arr > 5) & (arr < 15)]
print("Numbers >5 and <15:", filtered)

Numbers >5 and <15: [ 6  7  8  9 10 11 12 13 14]



---
***Task 03***

In [5]:
set1 = {0, 2, 4, 6, 8, 10}
set2 = set(range(1, 11))

print("Set1 (Even numbers):", set1)
print("Set2 (Positive integers):", set2)

set2_list = list(set2)
set2_list.sort()
set2_list.pop(1)
set2_list.pop(3)
set2 = set(set2_list)
print("Set2 after removing 2nd and 5th element:", set2)

set3 = set1 & set2
print("Intersection of Set1 and Set2:", set3)

Set1 (Even numbers): {0, 2, 4, 6, 8, 10}
Set2 (Positive integers): {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set2 after removing 2nd and 5th element: {1, 3, 4, 6, 7, 8, 9, 10}
Intersection of Set1 and Set2: {8, 10, 4, 6}



---
***Task 04***

In [7]:
sentence = "Python is great and best language to learn"
words = set(sentence.split())
print("Unique words:", words)
print("Number of unique words:", len(words))

Unique words: {'great', 'language', 'to', 'is', 'learn', 'best', 'and', 'Python'}
Number of unique words: 8



---
***Task 05***

In [8]:
cricket = {"Ali", "haider", "Usman", "Hadia"}
football = {"Haider", "Hadia", "Zara", "Ahmed"}

print("Cricket:", cricket)
print("Football:", football)
print("Common players:", cricket & football)
print("Only cricket players:", cricket - football)
print("Only football players:", football - cricket)

Cricket: {'Hadia', 'Usman', 'Ali', 'haider'}
Football: {'Hadia', 'Zara', 'Haider', 'Ahmed'}
Common players: {'Hadia'}
Only cricket players: {'Usman', 'Ali', 'haider'}
Only football players: {'Zara', 'Haider', 'Ahmed'}



---
***Task 06***

In [9]:
students = {
    "SAP101": {"sapid": "SAP101", "name": "Ali", "age": 19, "semester": "Six"},
    "SAP102": {"sapid": "SAP102", "name": "Haider", "age": 21, "semester": "Six"},
    "SAP103": {"sapid": "SAP103", "name": "Usman", "age": 21, "semester": "Six"},
    "SAP104": {"sapid": "SAP104", "name": "Hadia", "age": 22, "semester": "Six"},
    "SAP105": {"sapid": "SAP105", "name": "alisha", "age": 23, "semester": "Six"},
}

print("\nOriginal Students Dictionary:")
for k, v in students.items():
    print(k, ":", v)

# Update semester to Seven
for record in students.values():
    record["semester"] = "Seven"

print("\nUpdated Students Dictionary:")
for k, v in students.items():
    print(k, ":", v)

Original Students Dictionary:
SAP101 : {'sapid': 'SAP101', 'name': 'Ali', 'age': 19, 'semester': 'Six'}
SAP102 : {'sapid': 'SAP102', 'name': 'Haider', 'age': 21, 'semester': 'Six'}
SAP103 : {'sapid': 'SAP103', 'name': 'Usman', 'age': 21, 'semester': 'Six'}
SAP104 : {'sapid': 'SAP104', 'name': 'Hadia', 'age': 22, 'semester': 'Six'}
SAP105 : {'sapid': 'SAP105', 'name': 'alisha', 'age': 23, 'semester': 'Six'}

Updated Students Dictionary:
SAP101 : {'sapid': 'SAP101', 'name': 'Ali', 'age': 19, 'semester': 'Seven'}
SAP102 : {'sapid': 'SAP102', 'name': 'Haider', 'age': 21, 'semester': 'Seven'}
SAP103 : {'sapid': 'SAP103', 'name': 'Usman', 'age': 21, 'semester': 'Seven'}
SAP104 : {'sapid': 'SAP104', 'name': 'Hadia', 'age': 22, 'semester': 'Seven'}
SAP105 : {'sapid': 'SAP105', 'name': 'alisha', 'age': 23, 'semester': 'Seven'}