**Task 1**
**Appending the list**

In [3]:
#append
fruit_list = ["apple", "banana", "watermelon","mango","kiwi"]
fruit_list.append("orange")
print(fruit_list)

['apple', 'banana', 'watermelon', 'mango', 'orange']

**Task 2**
**clearing the list**

In [13]:
#clear
fruit_list = ["apple", "banana", "watermelon","mango","kiwi","orange"]
print(fruit_list)
fruit_list.clear()
print(fruit_list)

['apple', 'banana', 'watermelon', 'mango', 'kiwi', 'orange']
[]

**Task 3**
**Copying the list**

In [14]:
#copy
fruit_list = ["apple", "banana", "watermelon","mango","kiwi","orange"]
print(fruit_list)
new_fruit_list = fruit_list.copy()
print(new_fruit_list)

['apple', 'banana', 'watermelon', 'mango', 'kiwi', 'orange']
['apple', 'banana', 'watermelon', 'mango', 'kiwi', 'orange']

**Task 4**
**Counting the list**

In [22]:
#count
fruit_list = ["apple", "banana", "watermelon","apple","kiwi","mango","kiwi","orange","apple"]
print(fruit_list)
print(fruit_list.count("apple"))
print(fruit_list.count("kiwi"))

['apple', 'banana', 'watermelon', 'apple', 'kiwi', 'mango', 'kiwi', 'orange', 'apple']
3
2

**Task 5**
**Extending the list**

In [29]:
#extend
fruit_list = ["apple", "banana", "watermelon","mango","kiwi"]
veg_list = ["carrot","potato","onion"]
print(fruit_list)
print(veg_list)
list3 = fruit_list + veg_list
print(list3)

['apple', 'banana', 'watermelon', 'mango', 'kiwi']
['carrot', 'potato', 'onion']
['apple', 'banana', 'watermelon', 'mango', 'kiwi', 'carrot', 'potato', 'onion']

**Task 6**
**Indexing the list**

In [46]:
#index
fruit_list = ["apple", "banana", "watermelon","mango","kiwi"]
print(fruit_list)
print(fruit_list.index("banana"))
#Negative indexes

print(fruit_list[-4])

['apple', 'banana', 'watermelon', 'mango', 'kiwi']
1
banana

**Task 7**
**Inserting the list**

In [44]:
#insert
fruit_list = ["apple", "banana", "watermelon","mango","kiwi"]
print(fruit_list)
fruit_list.insert(3,"orange")
print(fruit_list)

['apple', 'banana', 'watermelon', 'mango', 'kiwi']
['apple', 'banana', 'watermelon', 'orange', 'mango', 'kiwi']

**Task 8**
**poping the list**

In [51]:
#pop
fruit_list = ["apple", "banana", "watermelon","mango","kiwi"]
print(fruit_list)
fruit_list.pop(2)
print(fruit_list)
fruit_list.pop(1)
print(fruit_list)

['apple', 'banana', 'watermelon', 'mango', 'kiwi']
['apple', 'banana', 'mango', 'kiwi']
['apple', 'mango', 'kiwi']

**Task 9**
**Removing the list**

In [52]:
#Remove
fruit_list = ["apple", "banana", "watermelon","mango","kiwi"]
print(fruit_list)
fruit_list.remove("watermelon")
print(fruit_list)
fruit_list.remove("banana")
print(fruit_list)

['apple', 'banana', 'watermelon', 'mango', 'kiwi']
['apple', 'banana', 'mango', 'kiwi']
['apple', 'mango', 'kiwi']

**Task 10**
**Reversing the list**

In [53]:
#reversing
fruit_list = ["apple", "banana", "watermelon","mango","kiwi"]
print(fruit_list)
fruit_list.reverse()
print(fruit_list)

['apple', 'banana', 'watermelon', 'mango', 'kiwi']
['kiwi', 'mango', 'watermelon', 'banana', 'apple']

**Task 11**
**Sorting the list**

In [57]:
#sort
fruit_list = ["apple", "banana", "watermelon","mango","kiwi","orange"]
print(fruit_list)
fruit_list.sort()
print(fruit_list)

car_list = ["Ford", "BMW", "Volvo","Audi"]
print(car_list)
car_list.sort()
print(car_list)

numw_list = [100, 50, 65, 82, 23]
print(numw_list)
numw_list.sort()
print(numw_list)

['apple', 'banana', 'watermelon', 'mango', 'kiwi', 'orange']
['apple', 'banana', 'kiwi', 'mango', 'orange', 'watermelon']
['Ford', 'BMW', 'Volvo', 'Audi']
['Audi', 'BMW', 'Ford', 'Volvo']
[100, 50, 65, 82, 23]
[23, 50, 65, 82, 100]

**Task 12**
**counting the Repeted words**

In [62]:
fruit_list = ["apple", "banana", "watermelon", "apple", "kiwi", "mango", "kiwi", "orange", "apple"]
print
repeated = []

for fruit in fruit_list:
    if fruit_list.count(fruit) > 1 and fruit not in repeated:
        repeated.append(fruit)

print("Original list:", fruit_list)
print("Repeated items:", repeated)

Original list: ['apple', 'banana', 'watermelon', 'apple', 'kiwi', 'mango', 'kiwi', 'orange', 'apple']
Repeated items: ['apple', 'kiwi']