In [3]:
#Perform the following using variables
#Addition
numA = 17
numB = 19

addition = numA + numB
print("Addition",addition)

Addition 36

In [2]:
#subtraction
numA = 17
numB = 19

subtraction = numA - numB
print("Subtraction",subtraction)

Subtraction -2

In [4]:
#Multiplication
numA = 17
numB = 19

multiplication = numA * numB
print("Multiplication",multiplication)

Multiplication 323

In [5]:
#Division
numA = 17
numB = 19

division = numA / numB
print("Division",division)

Division 0.8947368421052632

In [8]:
#Floor Division
numA = 19
numB = 17

floor_division = numA // numB
print("Floor Division",floor_division)

Floor Division 1

In [7]:
#Modulus
numA = 17
numB = 19

modulus = numA % numB
print("Modulus",modulus)
#

Modulus 17

In [12]:
#Input Your name and age, then print them
name = input("What Is your Name:")
age = int(input("What is your Age:"))
print("My Name Is:", name)
print("My Age:", age)

What Is your Name:Usman Akram
What is your Age:21
My Name Is: Usman Akram
My Age: 21

In [16]:
#Write a program to check if a number is even or odd
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("its Even")
else:
   print("its Odd")

Enter a number: 77
its Odd

In [30]:
#Find the Largest of three number using condition.
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

   print("The largest number is ", largest)

Enter first number: 12.5
Enter second number: 13.6
Enter third number: 19.12
The largest number is  19.12

In [27]:
#Reverse a string using slicing
str = "Usman Akram"
print(str[::-1])

markA namsU

In [36]:
#Print the first 10 terms of the Fibonacci sequence
terms = 10
num1, num2 = 0, 1
print("first 10 terms of fibonacci sequence:")
for i in range(terms):
    print(num1, end=" ")
    result = num1 + num2
    num1 = num2
    num2 = result

first 10 terms of fibonacci sequence:
0 1 1 2 3 5 8 13 21 34

In [42]:
#write the program to calculate the factorial of the number using a loop

number = int(input("enter the number"))
fact = 1

for i in range (1, number +1):
  fact = fact * i


fact

enter the number7

5040

In [44]:
#Print table of the given number

number = int(input("enter the number"))

for i in range(1,11):
    print(number,"*",i,"=",number*i)

enter the number50
50 * 1 = 50
50 * 2 = 100
50 * 3 = 150
50 * 4 = 200
50 * 5 = 250
50 * 6 = 300
50 * 7 = 350
50 * 8 = 400
50 * 9 = 450
50 * 10 = 500

In [46]:
#Count Digits in number and the sum
number = input("enter the number")
count = 0
sumDigit = 0

n = number

for d in number :
  count = count + 1
  sumDigit = sumDigit + int(d)

print("count of digits",count)
print("sum of digits",sumDigit)

enter the number7666
count of digits 4
sum of digits 25